absl-py
astor
certifi
cffi
chardet
gast
grpcio
h5py
idna
Markdown
msgpack
msgpack-numpy
numpy
opencv-python
protobuf
psutil
pycparser
pyzmq
requests
six
tensorboard
tensorflow
termcolor
urllib3
Werkzeug
zmq
