absl-py
astor
certifi
cffi
chardet
gast==0.3.3
grpcio
h5py
idna
Markdown
msgpack
msgpack-numpy
numpy==1.18.5
opencv-python
protobuf
psutil
pycparser
pyzmq
requests
six
tensorboard
tensorflow
termcolor
urllib3
Werkzeug
zmq
