certifi
chardet
cycler
decorator
idna
imgviz
kiwisolver
labelme
matplotlib
networkx
numpy
opencv-python
Pillow
protobuf
pyparsing
PyQt5
PyQt5-sip
python-dateutil
PyYAML
pyzmq
QtPy
requests
six
termcolor
tqdm
urllib3
zmq
